<div class="card">
  <div class="card-content">
    <h5>Information for <%= @investigation.title %></h5><br />

    <b>Crimes committed:&nbsp;&nbsp;</b> <%=link_to " + Add Crime To Investigation", new_crime_investigation_path(investigation_id: @investigation.id), class: 'add-crime' %> <br />
      <ul class='dotted-list'>
      <% @case_crimes.each do |crime| %> 
        <!-- <li>   <%# crime.name %></li> -->


        <li> <%= crime.name %> <%= link_to "Delete", crime_investigation_path(CrimeInvestigation.where(crime_id: crime.id, investigation_id: @investigation.id).last), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: 'delete-crime' %> </li>
      <% end %>
      </ul>


      <br /><br />

    <b>Location:&nbsp;&nbsp;</b>
      <%= @investigation.crime_location %>   
      <br /><br />

    <b>Description:&nbsp;&nbsp;</b><br />
      <%= @investigation.description %><br /><br />

    <b>Date opened:&nbsp;&nbsp;</b>
      <%= @investigation.date_opened.strftime("%B %d, %Y") %><br /><br />

    <% unless @investigation.date_closed.nil? %>
      <b>Date closed:&nbsp;&nbsp;</b>
        <%= @investigation.date_closed.strftime("%B %d, %Y") %><br /><br />
    <% end%>

    <b>Was Batman involved?&nbsp;&nbsp;</b>
      <%= @investigation.batman_involved ? "Yes" : "No" %><br /><br />

    <b>Case solved?&nbsp;&nbsp;</b>
      <%= @investigation.solved ? "Yes" : "No" %><br /><br />

  </div>
</div>
