<div id="tabbed">
  <tabs>

    <tab name="open" v-bind:selected="true">
      <%= render :partial => "investigation_list", locals: {investigations: @open_investigations, state: 'open'} %>
    </tab>

    <tab name="closed">
      <%= render :partial => "investigation_list", locals: {investigations: @closed_investigations, state: 'closed'} %>
    </tab>

    <tab name = 'batman'>
      <%= render :partial => "with_batman", locals: {investigations: @with_batman, state: 'closed'} %>
    </tab>

    <tab name = 'statue-barred'>
      <%= render :partial => "closed_unsolved", locals: {investigations: @closed_unsolved, state: 'closed'} %>
    </tab>

  </tabs>
</div>

<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'investigation'} %>