<div class='second-header'>
  <div class = "second-header-groups">

    <%= link_to units_path do %>
        <% if params[:controller] == "units" %>
        <div class = "nav-button-active">
        <% else %>
        <div class = "nav-button">
        <% end %>
            <div class = "button-icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.12533 2.76622H6.87467V0H0V6.87467H2.76622V9.12533H0V16H6.87467V13.2338H9.12533V16H16V9.12533H13.2338V6.87467H16V0H9.12533V2.76622ZM1.42222 1.42222H5.45244V5.45244H1.42222V1.42222ZM5.45244 14.5778H1.42222V10.5476H5.45244V14.5778ZM14.5778 14.5778H10.5476V10.5476H14.5778V14.5778ZM11.8116 9.12533H9.12533V11.8116H6.87467V9.12533H4.18844V6.87467H6.87467V4.18844H9.12533V6.87467H11.8116V9.12533ZM10.5476 1.42222H14.5778V5.45244H10.5476V1.42222Z" fill="#C4C4C4"/>
                </svg>         
            </div>

            <div class = "button-name">
                Units
            </div>
        </div>
    <% end %>

    <%= link_to crimes_path do %>
        <% if params[:controller] == "crimes" %>
        <div class = "nav-button-active">
        <% else %>
        <div class = "nav-button">
    <% end %>
        <div class = 'button-icon'>
            <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9368 5.89156H18.8717L18.0341 4.37588C18.7248 4.23943 19.6168 3.8917 20.5119 3.05175L20.1971 2.27081C18.7316 3.64679 17.4632 2.86888 16.9799 2.46648L16.0805 0.837344H5.74253L5.74123 0.837778H1.91374L0.53538 0H0V4.5132H1.14799H1.91374H4.0967C6.0868 6.27488 5.74253 7.07903 5.74253 7.07903H6.53128V7.26993C6.53128 8.7932 7.76539 10.0264 9.28758 10.0264H10.6724L12.6218 10.0772C14.1446 10.0772 15.3778 11.3115 15.3778 12.8339V14.2767C15.3778 16 18.6164 16 18.6164 16C20.1394 16 21.6933 15.7989 21.6933 14.2767V8.64807C21.6931 7.1261 20.459 5.89156 18.9368 5.89156ZM11.6328 8.87802H9.77675C8.78148 8.87802 7.97494 8.073 7.97104 7.07881C7.97321 6.38052 8.78062 5.81477 9.77675 5.81477H11.6328C11.6718 5.81477 11.7083 5.82128 11.7465 5.8228C11.8467 6.39983 11.7233 7.11482 10.9994 7.88535L11.781 8.1999C12.4237 7.51527 12.7782 6.8313 12.9706 6.238C13.2565 6.46122 13.4361 6.75299 13.4387 7.07599C13.4361 8.07148 12.6289 8.87802 11.6328 8.87802Z" fill="#C4C4C4"/>
            </svg>
        </div>

        <div class = 'button-name'>
            Crimes
        </div>
    </div>
    <% end %>

    <%= link_to officers_path do %>
    <% if params[:controller] == "officers" %>
        <div class = "nav-button-active">
    <% else %>
    <div class = "nav-button">
    <% end %>
        <div class = 'button-icon'>
            <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.56516 5.91304C7.19801 5.91304 8.52169 4.58936 8.52169 2.95652C8.52169 1.32368 7.19801 0 5.56516 0C3.93232 0 2.60864 1.32368 2.60864 2.95652C2.60864 4.58936 3.93232 5.91304 5.56516 5.91304Z" fill="#C4C4C4"/>
                <path d="M4.44696 10.0122L2.52174 6.6087H1.9913C1.46659 6.60608 0.962261 6.8117 0.588952 7.18044C0.215643 7.54919 0.0038381 8.05095 0 8.57565V14.9304C0.00186891 15.2153 0.116586 15.4879 0.31902 15.6884C0.521453 15.8888 0.795096 16.0009 1.08 16H5.21739V11.3043C5.2171 11.2968 5.21769 11.2892 5.21913 11.2817L4.44696 10.0122ZM3.13043 10.2609H2.08696C1.99471 10.2609 1.90624 10.2242 1.84101 10.159C1.77578 10.0938 1.73913 10.0053 1.73913 9.91304C1.73913 9.8208 1.77578 9.73232 1.84101 9.66709C1.90624 9.60186 1.99471 9.56522 2.08696 9.56522H3.13043C3.22268 9.56522 3.31115 9.60186 3.37638 9.66709C3.44161 9.73232 3.47826 9.8208 3.47826 9.91304C3.47826 10.0053 3.44161 10.0938 3.37638 10.159C3.31115 10.2242 3.22268 10.2609 3.13043 10.2609Z" fill="#C4C4C4"/>
                <path d="M9.13917 6.6087H8.61048L6.75656 10.0591L5.94091 11.4783C5.93222 11.4922 5.92352 11.5061 5.91309 11.52V16H10.0505C10.3354 16.0009 10.609 15.8888 10.8115 15.6884C11.0139 15.4879 11.1286 15.2153 11.1305 14.9304V8.57565C11.1266 8.05095 10.9148 7.54919 10.5415 7.18044C10.1682 6.8117 9.66389 6.60608 9.13917 6.6087ZM9.04352 10.4348H8.00004C7.90779 10.4348 7.81932 10.3981 7.75409 10.3329C7.68886 10.2677 7.65222 10.1792 7.65222 10.087C7.65222 9.99471 7.68886 9.90624 7.75409 9.84101C7.81932 9.77578 7.90779 9.73913 8.00004 9.73913H9.04352C9.13577 9.73913 9.22424 9.77578 9.28947 9.84101C9.3547 9.90624 9.39135 9.99471 9.39135 10.087C9.39135 10.1792 9.3547 10.2677 9.28947 10.3329C9.22424 10.3981 9.13577 10.4348 9.04352 10.4348Z" fill="#C4C4C4"/>
                <path d="M6.70262 8.22261L6.04001 9.01739L6.36175 9.32522L6.37045 9.33391L6.16523 9.69044L6.14958 9.72L5.63131 10.6209L5.04697 9.65913L4.8174 9.28L4.82784 9.27131L5.09045 9.01739L4.42784 8.22261C4.37638 8.15983 4.34827 8.08117 4.34827 8C4.34827 7.91883 4.37638 7.84017 4.42784 7.77739L5.2974 6.73391C5.33129 6.69654 5.37263 6.66666 5.41875 6.64622C5.46488 6.62578 5.51477 6.61522 5.56523 6.61522C5.61568 6.61522 5.66558 6.62578 5.7117 6.64622C5.75783 6.66666 5.79917 6.69654 5.83305 6.73391L6.70262 7.77739C6.75407 7.84017 6.78219 7.91883 6.78219 8C6.78219 8.08117 6.75407 8.15983 6.70262 8.22261Z" fill="#C4C4C4"/>
                <path d="M4.82782 9.2713L5.04695 9.65913L4.81738 9.28L4.82782 9.2713Z" fill="#C4C4C4"/>
                <path d="M6.37038 9.33391L6.16516 9.69043L6.36168 9.32521L6.37038 9.33391Z" fill="#C4C4C4"/>
            </svg>
        </div>
        <div class = 'button-name'>
            Officers
        </div>
    </div>
    <% end %>

    <%= link_to criminals_path do %>
    <% if params[:controller] == "criminals" %>
        <div class = "nav-button-active">
    <% else %>
    <div class = "nav-button">
    <% end %>
        <div class = 'button-icon'>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 8.67749C16 9.81249 13.3075 10.3875 8 10.3875C2.6925 10.3875 0 9.81249 0 8.67749C0 8.53999 0.1125 8.42749 0.25 8.42749H15.75C15.8875 8.42749 16 8.53999 16 8.67749Z" fill="#C4C4C4"/>
                <path d="M5.58252 0.84C6.31252 0.3025 7.13502 0 7.99752 0C10.0625 0 11.8875 1.72 12.815 4.26C11.8375 4.46 10.595 4.665 10.1725 4.665C8.22002 4.665 6.49252 2.855 5.58252 0.84Z" fill="#C4C4C4"/>
                <path d="M14.3826 7.48501V7.92751H1.61755V7.48501C1.61755 7.34751 1.72755 7.23501 1.86755 7.23501H2.56255C2.74255 4.65251 3.75505 2.43751 5.18505 1.16501C6.18255 3.28751 8.04505 5.16501 10.1726 5.16501C10.6326 5.16501 11.9526 4.94751 12.9751 4.73751C12.9776 4.73751 12.9776 4.73751 12.9776 4.73751C13.2176 5.51251 13.3751 6.35251 13.4376 7.23501H14.1326C14.2701 7.23501 14.3826 7.34751 14.3826 7.48501Z" fill="#C4C4C4"/>
                <path d="M12.8675 10.9825H9.68251C9.19251 10.9825 8.77001 11.2725 8.56751 11.6875H7.43251C7.23001 11.2725 6.80751 10.9825 6.31751 10.9825H3.13251C2.44501 10.9825 1.88501 11.5425 1.88501 12.23V14.755C1.88501 15.4425 2.44501 16 3.13251 16H3.79251C5.47001 16 6.89501 14.8975 7.38251 13.38H8.61751C9.10501 14.8975 10.53 16 12.2075 16H12.8675C13.555 16 14.1125 15.4425 14.1125 14.755V12.23C14.1125 11.5425 13.555 10.9825 12.8675 10.9825ZM7.50251 12.88C7.54001 12.6675 7.56251 12.4525 7.56251 12.23C7.56251 12.215 7.56001 12.2 7.55751 12.1875H8.44251C8.44001 12.2 8.43751 12.215 8.43751 12.23C8.43751 12.4525 8.46001 12.6675 8.49751 12.88H7.50251Z" fill="#C4C4C4"/>
            </svg>         
        </div>

        <div class = 'button-name'>
            Criminals
        </div>
    </div>
    <% end %>

    <%= link_to investigations_path do %>
    <% if params[:controller] == "investigations" %>
    <div class = "nav-button-active">
    <% else %>
    <div class = "nav-button">
    <% end %>
        <div class = 'button-icon'>
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.95692 10.889C8.50453 10.889 7.1778 10.3541 6.16022 9.47172H1.61192V8.57876H5.3245C5.04593 8.20987 4.81096 7.80648 4.62621 7.37622H1.61192V6.48347H4.32677C4.23129 6.0964 4.17529 5.69424 4.16185 5.28114H1.61192V4.38797H4.20071C4.27242 3.79342 4.43381 3.22697 4.67147 2.70186H0V16H11.6866V11.2227L11.38 10.7123C10.9245 10.8274 10.4477 10.889 9.95692 10.889Z" fill="#C4C4C4"/>
                <path d="M13.045 9.04271L13.1053 8.99456C14.2271 8.09685 14.9159 6.7606 14.9948 5.32889C15.0686 3.98211 14.6144 2.68679 13.7144 1.68223C12.8148 0.677465 11.5777 0.0831209 10.2312 0.00872461L10.2076 0.00748495C9.21649 -0.0470724 8.22103 0.197609 7.36237 0.709083C6.20798 1.39642 5.39045 2.49212 5.06042 3.79426C5.04368 3.86101 5.0288 3.92755 5.01496 3.9943L5.01248 4.00401C4.99574 4.08461 4.98251 4.15901 4.97011 4.2334L4.96515 4.26213C4.95317 4.33921 4.94325 4.41629 4.93457 4.49317L4.93291 4.50784C4.92403 4.59071 4.91845 4.66593 4.9137 4.74095L4.91122 4.77257C4.9108 4.78332 4.9106 4.7922 4.91039 4.80088L4.90977 4.82795C4.78763 7.57938 6.9255 9.94105 9.67506 10.0927C10.4455 10.1355 11.2041 10.0039 11.9111 9.70587L11.9826 9.67611L15.0537 14.8283L16.117 14.1951L13.045 9.04271ZM9.95611 8.77778C9.88688 8.77778 9.81683 8.77571 9.7476 8.77199C8.75358 8.71723 7.84036 8.2787 7.17617 7.53681C6.51198 6.79532 6.17678 5.83933 6.23154 4.84552C6.34045 2.8705 7.97366 1.32368 9.94971 1.32368C10.0185 1.32368 10.0888 1.32575 10.1582 1.32947C12.2101 1.44251 13.7875 3.20425 13.6741 5.25615C13.5654 7.23075 11.932 8.77778 9.95611 8.77778Z" fill="#C4C4C4"/>
                <path d="M9.94894 2.18109C9.37196 2.18109 8.81254 2.35241 8.33165 2.67583C8.01133 2.89116 7.74392 3.1592 7.53478 3.47393H11.2614V4.67316H7.07848C7.0324 4.99286 7.03922 5.31297 7.09853 5.62647H11.2614V6.8259H7.6284C8.17542 7.55664 9.03449 7.98855 9.95473 7.98855C10.5323 7.98855 11.0915 7.81744 11.5724 7.49382C12.2162 7.06087 12.6524 6.40329 12.801 5.64217C12.95 4.88126 12.7934 4.10796 12.3606 3.46401C11.8206 2.66053 10.9188 2.18109 9.94894 2.18109Z" fill="#C4C4C4"/>
            </svg>
        </div>
        <div class = 'button-name'>
            Investigations
        </div>
    </div>
    <% end %>

  </div>
</div>
