<% if crimes.empty? %>

  <p class = 'no-data'>There are no <%= state.downcase %> crimes at this time.</p>
<% else %>

  <table class="lined highlight">
    <thead>
      <th>Crime</th>
      <th>Level</th>

      <% if logged_in? %>
      <th class="align_center">Active</th>
      <% end %>
    </thead>
    <% for crime in crimes %>
      <tr>
        <td><%= best_in_place crime, :name, as: :input %><% crime.name %>  </td>
        <td><%= crime.felony ? "Felony" : "Misdemeanor" %></td>





        <% if logged_in? %>
        <td class="align_center">
        <%= link_to "#{ crime.active ? 'Activate' : 'Deactivate' }", toggle_active_status_crime_path(crime), method: :patch, remote: :true, class: "btn-#{ crime.active ? 'secondary' : 'alert' } toggle-it"  %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= will_paginate crimes, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>