<!DOCTYPE html>
<html>
  <head>
    <title>GCPD Tracking System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>
  </head>

  <body>
    <!-- nav -->
    <% if logged_in? %>
      <%= render :partial => "partials/topnav_logged" %>
      <%= render :partial => "partials/secondnav" %>
    <% else %>
      <%= render :partial => "partials/topnav_all" %>
    <% end %>
    <!-- content -->
    <%= render :partial => "partials/flash" %>

    <%= yield %>
    <!-- footer -->
    <% if logged_in? %>
      <%= render :partial => "partials/footer_logged" %> 
    <% else %>
      <%= render :partial => "partials/footer" %> 
    <% end %>
    <%= javascript_include_tag 'application' %>   
  </body>
</html>

